{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": [ "warn" ],
    "max-len": [ "warn", 120, 2, { "ignoreUrls": true, "ignoreComments": true } ],
    "no-console": [ "off" ],
    "no-plusplus": [ "error", { "allowForLoopAfterthoughts": true } ],
    "prefer-const": 1,
    "spaced-comment": [ "warn" ]
  }
}
